*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
*/build
**/build
/bundle
/captures
*.iml
/.idea/workspace.xml
/.idea/libraries
.idea/*.xml
.idea/compiler.xml
.idea/copyright
.idea/encodings.xml
.idea/gradle.xml
.idea/inspectionProfiles
.idea/misc.xml
.idea/modules.xml
.idea/scopes
.idea/vcs.xml
.mainframer/config

## Directory-based project format:
.idea/
*.DS_Store

